<div class="footer">
  <div class="row">
    <div class="col-12 signature">
      &#169; <span class="year">{{year}}</span> - County of San Luis Obispo
      <br class="d-block d-sm-none">
      <a [matTooltip]="'slo.footer.changelog' | translate"
          matTooltipPosition="before"
          href="https://www.slocounty.ca.gov/">
        <mat-icon fontSet="fas" fontIcon="fa-rocket"></mat-icon>
        {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
      </a>
    </div>
  </div>
</div>
