.banner-display {
  background-color: rgba(255, 0, 0, 0.2);
}

.banner-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.banner-message {
  font-size: 16px;
  text-align: center;
}
