@import '../../../styles-variables';

.background {
  padding: 20px 0 20px 0;
  position: relative;

  .container {
    position: relative;
  }

  .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
  }
  .caption {
    font-size: 18px;
    font-weight: 500;
  }
  .option {
    margin-top: 10px;
  }
  .option > span {
    margin-right: 10px;
  }
  .option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 10px 0 10px 0;

    h1 {
      line-height: 1em;
    }
  }
}
