<mat-sidenav-container>

  <mat-sidenav #sidenav class="navigationSide" [opened]="isNavigationSideOpen" [mode]="'push'" (closedStart)="closeNavigationSide()">  <!-- Sidenav Available on smaller devices -->
    <div class="branding">
      <!-- <img [src]="logo"/> -->
      <span>{{ 'slo.title.short' | translate }}</span> <!-- App Title -->
    </div>
    <mat-nav-list> <!-- App Routes -->
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="closeNavigationSide()" routerLinkActive="active" routerLink="{{item.path}}">
        <mat-icon fontSet="fas" fontIcon="fa-{{item.icon}}"></mat-icon>&nbsp;&nbsp;{{ item.name | translate }}
      </a>
      <a mat-list-item (click)="closeNavigationSide()" routerLinkActive="active" routerLink="/settings">
        <mat-icon fontSet="fas" fontIcon="fa-cog"></mat-icon>&nbsp;&nbsp;{{ 'slo.menu.settings.title' | translate }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <slo-navbar></slo-navbar> <!-- SLO Navbar Component -->

  <mat-sidenav class="contextSide" position="end" [opened]="isContextSideOpen" [mode]="'over'" (closedStart)="closeContextSide()">  <!-- Context Sidenav available from anywhere -->
    <div class="context-container">
      <ng-template context-host></ng-template>
    </div>
  </mat-sidenav>

  <div class="wrapper">
    <slo-banner [data]="" [isVisible]="true"></slo-banner> <!-- SLO Banner Component -->
    <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet> <!-- Context pages here w/ animation -->
    </div>

    <slo-footer></slo-footer>  <!-- SLO Footer Component -->
  </div>

</mat-sidenav-container>
