$slo-black-primary: mat-palette($mat-grey, 700, 300, 900);
$slo-black-accent: mat-palette($mat-blue-grey, 400);
$slo-black-warn: mat-palette($mat-red, 500);

$slo-black-theme: mat-dark-theme(
  $slo-black-primary,
  $slo-black-accent,
  $slo-black-warn
);
