$slo-light-primary: mat-palette($mat-grey, 200, 500, 300);
$slo-light-accent: mat-palette($mat-brown, 200);
$slo-light-warn: mat-palette($mat-deep-orange, 200);

$slo-light-theme: mat-light-theme(
  $slo-light-primary,
  $slo-light-accent,
  $slo-light-warn
);
