$slo-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$slo-nature-accent: mat-palette($mat-deep-purple, 300);
$slo-nature-warn: mat-palette($mat-red, 600);

$slo-nature-theme: mat-light-theme(
  $slo-nature-primary,
  $slo-nature-accent,
  $slo-nature-warn
);
